.album-wrap {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}

.album-wrap img{
    width:33.33%;
}

.album-wrap-h {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}

.album-wrap-h img{
    width:50%;
}

a {
    word-break:break-all;
}

.home .footer {
    padding:2.5rem 0 !important;
}

#banniang {
    right:3vw !important;
}