.album-wrap {
    display:flex;
    flex-wrap:wrap;
}

.album-wrap img{
    width:33.33%;
}

a {
    word-break:break-all;
}

.home .footer {
    padding:2.5rem 0 !important;
}

#banniang {
    right:3vw !important;
}